{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ]

    // ["module-alias", [{ "src": "./views/components", "expose": "Components" }]]
  ]
}
